.artist-img {
  width: auto;
  height: 100%;
}

.img-container {
  background: white;
  width: inherit;
  height: inherit;
  overflow:hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}