@import url('https://fonts.googleapis.com/css?family=Montserrat:100,300,400,500,600,700,800,900');
@import url('https://fonts.googleapis.com/css?family=Cabin|Roboto|Raleway:100,300,400,500,600,700,800,900');

.artist-img {
  width: auto;
  height: 100%;
}

.img-container {
  background: white;
  width: inherit;
  height: inherit;
  overflow:hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.artist-detail-label {
  font-size: 35px;
  width: 180%;
  text-align: center;
  margin: 10%;
  // text-shadow: 0 0 3px #fff;
}

.category-detail-label {
  text-transform: uppercase;
  // color: gray;
  font-family: Montserrat;
  font-weight: 200;
  position:relative;
  top: -6%;
  font-size: 12px;
}

#artist-detail-img {
  min-width: 235px;
  min-height: 240px;
}

.row-flex {
  display: flex;
  flex-direction: row;
  min-height: 350px;
}


.col-flex {
  display: flex;
  flex-direction: column;
}

.detail-text > span {
  // margin: 10px;
  line-height: 2;

}

.genre-text {
  // font-size: 18px;
  // position: absolute;
  // top: -3px;
}

.glowing-link {
  font-size: 20px;
}

.glowing-link:hover {

  text-shadow: 0 0 10px #fff;
  text-decoration: underline;
  transition: all 0.2s ease-in;
}

.detail-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  // min-width: 600px;
  height: 250px;
  width: 80%;
  margin-top: 30px;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 50px;
  // overflow: scroll;
}

.description-text {
  // position: absolute;
  // top: 80px;
  // display: flex;
  // align-items: center;
  // justify-content: center;
  margin-bottom: 5px;
  margin-top: 10px;
  // margin-bottom: 5px;
  // background: rgba(0,0,0,0.2);
  // border-radius: 10px;
  // padding: 10px;
  font-family: Montserrat;
  font-weight: 200;
  font-size: 15px;
  overflow: scroll;
  height: 150px;
  width: 100%;
  // div {
  //   // padding: 5px;
  //   margin: 0 10px;
  // }
}

