#featured-scroll {
  height: 280px;
  overflow: scroll;

}

#featured-scroll-long {
  height: auto;
}
//
// .featured-content {
//   display: inline-block;
// }
#genre-display {
  // height: 560px;
  // overflow: scroll;
}

#genre-display-long {
  height: auto;
}