$green: #1ed760;

#main-logo {
  position: fixed;
  top: 0;
  left: 0;
  padding: 15px;
  height: 50px;
  width: 180px;
  background-color: inherit;
}

#left-nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px;
  background-color: rgb(20,20,20);
  height: 84vh;
  width: 200px;
  position: fixed;
  top: 0;
  left: 0;
  padding-bottom: 30px;
  overflow: scroll;
  // border: 1px solid white;
}

.left-nav-playlist-list {
  margin: 9px;
  // overflow: scroll;
  height: 35vh;
}

.left-nav-playlist-item {
  margin: 5px;
}

.left-nav-playlist-item:hover {
  color: $green;
}

.non-link-h1 {
  &:hover {
    cursor: auto;
    color: inherit;
  }
}

.left-nav-menu {
  margin: 30px 0;
}

.left-nav-main-menu {
  margin-top: 60px;
  h1:first-child {
    margin-bottom: 50px;
  }
  h1 {
    margin: 7px 0;
  }
}

.left-nav-playlists-container {
  margin-top: 7vh;
  // max-height: 30%;
}