$green: #1ed760;

#logo-container {
  display: flex;
  position: fixed;
  top: 3px;
  left: 3px;
  padding: 15px;
  height: 50px;
  width: 180px;
  background-color: inherit;
}
#main-logo {
  position: absolute;
  left: 50px;
  top: 13px;
}

#logo-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 45px;
  height: 45px;
  border-radius: 100px;
  background-image: image_url('dB-icon.png');
  background-size: cover;
}

#left-nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px;
  background-color: rgb(20,20,20);
  // height: 86vh;
  width: 200px;
  position: fixed;
  top: 0;
  left: 0;
  padding-bottom: 30px;
  overflow: scroll;
  // border: 1px solid white;
}

.left-nav-playlist-list {
  margin: 9px;
  // overflow: scroll;
  height: 35vh;
}

.left-nav-playlist-item {
  margin: 5px;
  max-width: 150px;
  overflow-wrap: break-word;
}

.left-nav-playlist-item:hover {
  color: $green;
}

.non-link-h1 {
  &:hover {
    cursor: auto;
    color: inherit;
  }
}

.left-nav-menu {
  margin: 30px 0;
}

.left-nav-main-menu {
  margin-top: 60px;
  #left-nav-browse {
    margin-bottom: 50px;
  }
  h1 {
    margin: 7px 0;
  }
}

.left-nav-playlists-container {
  margin-top: 7vh;
  // max-height: 30%;
}