@import url('https://fonts.googleapis.com/css?family=Montserrat:100,300,400,500,600,700,800,900');
@import url('https://fonts.googleapis.com/css?family=Cabin|Roboto|Raleway:100,300,400,500,600,700,800,900');

$green: #1ed760;

body {
  background-color: #141414;

  color: white;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;

}

h1 {
  font-size: 22px;
}

#genre-main-header {
  text-align: center;
}

#top-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  // background-color: #1ed760;
  background-color: rgba(0,0,0, 0.3);
  position: fixed;
  top: 0;
  left: 200px;
  width: calc(100% - 200px);
  height: 50px;
  z-index: 9000;

  // border: 1px solid white;
}

#top-nav-profile {
  display: flex;
}

#top-nav-profile-link {
  padding: 5px;
  margin-right: 10px;
}


#right-nav {
  display: none;
  // display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
  background-color: rgb(20,20,20);
  height: 100%;
  width: 250px;
  position: fixed;
  top: 0;
  right: 0;
  // border: 1px solid white;
}

#main {
  background: linear-gradient( rgb(75, 75, 75), rgb(40,40,40) 300px, rgb(30, 30, 30) 500px); //gray
  // background: linear-gradient( rgb(208, 212, 52), rgb(40,40,40) 200px, rgb(30, 30, 30) 400px); //yellow
  // background: rgb(35, 35, 35); //solid gray
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  min-height: calc(100% - 100px);
  width: calc(100% - 200px);
  position: absolute;
  top: 0px;
  left: 200px;
  // right: 200px;
  min-width: 600px;
  // border: 1px solid white;
  overflow: hidden;
}




#new-playlist-button-container {
  position: fixed;
  bottom: 110px;
  left: 12px;
}

button {
  $button-background: $green;
  color: white;
  margin: 0 auto;
  width: 175px;
  height: 30px;
  border-radius: 20px;
  background-color: $button-background;

  &:hover, &:focus {
    font-weight: bold;
    cursor: pointer;
    background: lighten($button-background, 10%);
  }

  &:focus {
    box-shadow: 0 0 15px darken($button-background, 10%);
  }

  &:active {
    // color: darken($button-background, 20%);
    // border-color: darken($button-background, 20%);
    background-color: black;
  }
}

#top-nav-search {
  width: 50%;
}
#main-search-bar {
  font-size: 16px;
  margin: 10px;
  padding: 10px;
  min-width: 175px;
  width: 45%;
  height: 25px;
  border-radius: 20px;
  color: gray;
  &:focus {
    color: black;
  }
}

h1:hover {
  color: $green;
  cursor: pointer;
}

.hidden {
  display: none !important;
}

#top-nav-profile-flex {
  display: flex;
  position: relative;
}

#top-nav-user-profile-img {
  display: none;
  position: relative;
  top: -1px;
  left: -3px;
  // padding: 10px;
  // background-image: image_url("default-user-icon.png");
  width: 35px;
  height: 35px;
  background-size: cover;
  border: none;
}

#top-nav-user-profile-img-default {
  position: relative;
  top: -1px;
  left: -3px;
  background-image: image_url("default-user-icon.png");
  width: 35px;
  height: 35px;
  background-size: cover;
  border: none;
}




