#top-nav {
  display: flex;
  background-color: #1ed760;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  border: 1px solid white;
}

#left-nav {
  display: flex;
  background-color: #1ed760;
  height: 100%;
  width: 200px;
  position: absolute;
  top: 50px;
  left: 0;
  border: 1px solid white;
}

#main {
  display: flex;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 50px;
  left: 200px;
  border: 1px solid white;
}

#footer-audio {
  display: flex;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 100px;
  background-color: rgb(40, 40, 40);
  border: 1px solid black;
}