@import url('https://fonts.googleapis.com/css?family=Raleway:100,300,400,500,600,700,800,900');


.addSongModal {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  // border: 1px solid #ccc;
  background: transparent;
  // overflow: auto;
  border-radius: 4px;
  outline: none;
  z-index: 16000;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 150px;
  padding-top: 100px;
}
.playlist-form-modal {
  // position: relative;
  label {
    padding-bottom: 5px;
  }
}

.addSongModalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 10000;
}

.addSongModal-header {
  // font-family: Montserrat;
  font-size: 70px;
  font-weight: 700;
  text-align: center;
}

.modal-playlist-item-container {
  cursor: pointer;
}

.addSongModal-playlist-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  button {
    margin-top: 40px;
  }
}

.addSongModal-content {
  overflow: scroll;
  width: 75%;
  min-width: 650px;
  max-width: 800px;
}
.addSongModal-content .playlist-modal-content{
  overflow: hidden;
}

