@import url('https://fonts.googleapis.com/css?family=Raleway:100,300,400,500,600,700,800,900');
$green: #1ed760;


.addSongModal {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  // border: 1px solid #ccc;
  background: transparent;
  // overflow: auto;
  border-radius: 4px;
  outline: none;
  z-index: 16000;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.playlist-form-modal {
  width: 500px;
  display: flex;
  justify-content: center;

}

.playlist-form-modal label.playlist-form-label {

  font-size: 20px;
  padding-bottom: 5px;

}

.playlist-form-modal label.playlist-form-label input {

  font-size: 18px;
  height: 30px;
}

.addSongModalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 10000;
}

.addSongModal-header {
  // font-family: Montserrat;
  font-size: 50px;
  font-weight: 700;
  text-align: center;
}

.modal-playlist-item-container {
  cursor: pointer;
}

.addSongModal-playlist-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  button {
    margin-top: 40px;
  }
}

.addSongModal-content {
  overflow: scroll;
  width: 75%;
  width: 100%;
  margin-top: 100px;
  // max-width: 800px;
}

#addSongModal-close-button {
  width: 80px;
  height: 80px;
  background-image: image_url('close-icon.png');
  background-color: transparent;
  border-radius: 100px;
  background-size: cover;

  &:hover {
    box-shadow: 0 0 15px $green;
    transition: all 0.5s ease;
  }
}

#addPlaylist-close-button {
  position: absolute;
  top: 50px;
  width: 80px;
  height: 80px;
  background-image: image_url('close-icon.png');
  background-color: transparent;
  border-radius: 100px;
  background-size: cover;
  z-index: 20000;
  &:hover {
    box-shadow: 0 0 15px $green;
    transition: all 0.5s ease;
  }
}


.playlist-modal-content{
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
  width: 60%;
  min-width: 700px;
  max-width: 800px;
}

.playlistModal {
  z-index: 17000;
}

form.playlist {
  padding-top: 40px;
}

#playlist-create-modal-button {
  position: relative;

}

