$green: #1ed760;

#footer-audio {
  display: flex;
  padding: 10px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100px;
  background-color: rgb(45, 45, 45);
  z-index: 100;
  // overflow: scroll;

  // border-top: 1px solid black;
}


.player-container {
  position: relative;
  display: flex;
  // justify-content: space-between;
  // border: 1px solid gray;
  width: 100%;
  margin-left: 10px;
  min-width: 1000px;
  overflow: scroll;
}

.song-info-container {
  display: flex;
  align-items: center;
  // border: 1px solid gray;
  // width: 200px;
  height: 80px;
  padding: 10px;
  position: fixed;
  left: 5px;
}

#song-info-album-img {
  align-self:center;
}

.song-info-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
  #song-info-song-title {
    font-size: 18px;
    margin-left: 5px;
  }
  #song-info-artist-name {
    margin-left: 5px;
    margin-top: 7px;
    font-size: 13px;
    color: gray;
  }
}

.controlsOuter {
  display: flex;
  flex-direction: column;
  width: 50%;
  min-width: 300px;
  height: 80px;
  // border: 1px solid gray;
  position: absolute;
  left: 25%;
  padding: 5px;
  align-items: center;

}

.controlsInner {
  display: flex;
  justify-content: center;
  margin-top: 3px;
}

#playBtn, #pauseBtn, #prevBtn, #nextBtn, #shuffleBtn, #repeatBtn, #repeatAllBtn, #repeatOneBtn {
  width: 35px;
  height: 35px;
  // border: 1px solid gray;
  margin: 0 15px 10px 15px;
  cursor: pointer;
  border-radius: 100px;
}

#playBtn {
  background-image: image-url('play-button');
  background-size: cover;
  // position: absolute;
  &:hover {
    box-shadow: 0 0 15px $green;
    transition: all 0.5s ease;
  }
  &:active {
    box-shadow: 0 0 15px white;
    transition: none;
  }
}


#pauseBtn {
  background-image: image-url('pause-button');
  background-size: cover;
  &:hover {
    box-shadow: 0 0 15px $green;
    transition: all 0.5s ease;
  }
  &:active {
    box-shadow: 0 0 15px white;
    transition: none;
  }
}
#prevBtn {
  width: 20px;
  height: 20px;
  background-image: image-url('prev-button');
  background-size: cover;
  margin-top: 8px;

}
#nextBtn {
  width: 20px;
  height: 20px;
  background-image: image-url('next-button');
  background-size: cover;
  margin-top: 8px;

}
#shuffleBtn {
  width: 17px;
  height: 17px;
  background-image: image-url('shuffle-button');
  background-size: cover;
  margin-top: 10px;

}

#repeatBtn {
  width: 17px;
  height: 17px;
  background-image: image-url('repeat-button');
  background-size: cover;
  margin-top: 10px;

}
#repeatAllBtn {
  width: 17px;
  height: 17px;
  background-image: image-url('repeat-button-green');
  background-size: cover;
  margin-top: 10px;

}
#repeatOneBtn {
  width: 17px;
  height: 17px;
  background-image: image-url('repeat-one-button-green');
  background-size: cover;
  margin-top: 10px;
}




#volume-container {
  display: flex;
  align-items: center;
  width: 200px;
  height: 80px;
  // border: 1px solid gray;
  position: absolute;
  right: 10px;
  justify-content: flex-end;
}

#barEmpty {
  width: 160px;
  height: 5px;
  background-color: rgb(70,70,70);
  border-radius: 10px;
}

#volumeBtn {
  cursor: pointer;
  width: 20px;
  height: 20px;
  background-image: image-url('high-sound-icon.png');
  background-size: cover;
  margin-right: 5px;
  &:hover {
    background-image: image-url('high-sound-icon-green.png');
  }
}

#mutedBtn {
  cursor: pointer;
  width: 20px;
  height: 20px;
  background-image: image-url('mute-icon.png');
  background-size: cover;
  margin-right: 5px;
}

#sliderBtn {
  position: absolute;
  left: 38px;
  width: 12px;
  height: 12px;
  border-radius: 10px;
  background-color: white;
  cursor: pointer;
}

#barFull {
  width: 150px;
  height: 5px;
  background-color: $green;
  border-radius: 10px;
}








#seek-bar {
  cursor: pointer;
  margin: 10px;
  // border: 1px solid gray;
  height: 5px;
  width: 600px;
  border-radius: 10px;
  background: rgb(70,70,70);
}


#progress-bar-container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 660px;
}

#current-time-display {
  position: absolute;
  font-size: 12px;
  top: 6px;
  left: -5px;
  text-align: right;
}

#song-duration-display {
  position: absolute;
  font-size: 12px;
  top: 6px;
  right: -10px;
}

#sliderBtnSeek {
  position: relative;
  top: 6px;
  left: 14px;
  width: 12px;
  height: 12px;
  border-radius: 10px;
  background-color: white;
  cursor: pointer;
}

#progress {
  width: 0px;
  height: 5px;
  background-color: $green;
  // background-color: rgb(160,160,160);
  border-radius: 10px;

}





