.detail-button-container {
  position: absolute;
  bottom: -45px;
  margin: 0;
  min-width: 190px;
}

button.play-button {
  width: 140px;
  margin-right: 20px;
}

button.etc-button {
  font-family: Montserrat;
  font-size: 15px;
  $button-background: #1ed760;
  width: 30px;
  background: transparent;
  border: 1px solid white;
  font-weight: 700;

  &:hover, &:focus {
    font-weight: bold;
    cursor: pointer;
    background: lighten($button-background, 10%);
  }

  &:focus {
    // background: transparent;
    box-shadow: 0 0 15px darken($button-background, 10%);
  }

  &:active {
    background-color: black;
  }


  div {
    position: relative;
    top: -2.8px;
    vertical-align: middle;
  }
}
