@import url('https://fonts.googleapis.com/css?family=Montserrat:100,300,400,500,600,700,800,900');


#song-list-header {
  font-size: 14px;
  color: gray;
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
  margin: 0;
  text-transform: uppercase;
  min-width: 720px;
}

.track-num-header {
  // display: none;
  text-align: left;
  min-width: 30px;
}
.title-header {
  text-align: left;
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.title-header:hover {
  cursor: pointer;
  text-decoration: underline;
}

.artist-header {
  text-align: left;
  width: 170px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.artist-header:hover {
  text-decoration: underline;
}

.album-header {
  text-align: left;
  width: 180px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.album-header:hover {
  text-decoration: underline;
}

.menu-header {
  text-align: right;
  min-width: 40px;
  div {
    position: relative;
    top: -1.5px;
    vertical-align: middle;
  }
}

.duration-header {
  text-align: right;
  min-width: 80px;
}

.song-list-container {
  position: relative;
  // overflow-x: scroll;
  overflow: hidden;
  margin: 30px 0;
  margin-top: 35px;
  margin-bottom: -250px; //for dropdown y overflow
  padding-bottom: 250px;
  // z-index: -1;
}

.top-header:hover {
  text-decoration: none;
  cursor: auto;
}

.song-list-item-container {
  position: relative;
  font-family: Montserrat;
  font-weight: 200;
  font-size: 16px;
  padding: 10px 10px;
  border-bottom: 1px solid rgba(90, 90, 90, 0.5);
  display: flex;
  justify-content: space-between;
  text-align: left;
  // margin: 0 20px;
  min-width: 720px;
}

.song-list-item-container:hover {
  background-color: rgba(255,255,255,0.1);
}

.song-list-ul {
  margin-bottom: 100px;

}

//dropdown menu

.song-detail-menu {
  font-weight: 700;
  min-height: 10px;
  position: relative;
}

.song-detail-menu:hover {
  cursor: pointer;
  text-shadow: 0 0 20px #fff;
}

.song-detail-menu-container {
  .dropdown-content {
    display: none;
    // position: absolute;
    // left: -10px;
    // top: -5px;
    // height: 0;
    transition: all 1s ease-out;
  }
  &:hover, &:focus, &:active {

    .dropdown-content {
      transition: all 1s ease-in;
      display: block;
      position: absolute;
      background: rgba(40,40,40,0.95);
      box-shadow: 0 0 20px #000;
      border-radius: 10px;
      left: -40px;
      top: -5px;
      width: 180px;
      // height: 200px;
      z-index: 9001;
    }
  }
}

.dropdown-ul {
  transition: all 1s ease-in;
  text-align: left;
  padding: 15px;
  font-weight: 200;
  font-family: Montserrat;
  font-size: 13px;
  text-shadow: none;
  color: rgba(255,255,255,0.6);
  li {
    transition: all 0.1s ease-in;
    border-bottom: 1px solid rgba(90, 90, 90, 0.5);
    padding: 9px;

    &:hover {
      background-color: rgba(255,255,255,0.1);
      color: white;
      text-shadow: 0 0 10px #fff;
    }
    &:active {
      background-color: transparent;
    }
  }
  li:first-child {
    border-top: 1px solid rgba(90, 90, 90, 0.5);
  }
}

.song-list-play-icon {
  position: absolute;
  left: 3px;
  top: 0;
  background-image: image-url('play-button');
  width: 35px;
  height: 35px;
  border-radius: 100px;
  background-size: cover;
  z-index: 10;
  &:hover {
    cursor: pointer;
    box-shadow: 0 0 7px white;
  }
  &:active {
    box-shadow: none;
    background-color: black;
  }
}

// .song-list-pause-icon {
//   display: none;
//   position: absolute;
//   left: 3px;
//   top: 0;
//   background-image: image-url('pause-button');
//   width: 35px;
//   height: 35px;
//   border-radius: 100px;
//   background-size: cover;
//   z-index: 10;
//   &:hover {
//     cursor: pointer;
//     box-shadow: 0 0 7px white;
//   }
//   &:active {
//     box-shadow: none;
//     background-color: black;
//   }
// }

.song-list-sound-icon {
  position: absolute;
  left: 8px;
  top: 6px;
  background-image: image-url('high-sound-icon');
  width: 25px;
  height: 25px;
  border-radius: 100px;
  background-size: cover;
  z-index: 10;
  &:hover {
    cursor: pointer;
    box-shadow: 0 0 7px white;
    position: absolute;
    left: 3px;
    top: 0;
    background-image: image-url('pause-button');
    width: 35px;
    height: 35px;
    border-radius: 100px;
    background-size: cover;
    z-index: 10;
  }
  &:active {
    box-shadow: none;
    background-color: black;
  }
}

.glow {
  text-shadow: 0 0 15px white;
  font-weight: 400;
  transition: text-shadow 0.7s ease;
}














